.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.devk__container {
  padding         : 1rem;
  background-color: cadetblue;
  border-color    : blue;
  border-radius   : 10px;
  width           : 100%;
}

.btn {
  width: 100%;
}